<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :This_is_   %> <%= link_to '19thHoleSwag', 'http://19thHoleSwag.com/' %></p>
    <!-- Begin DigiCert site seal HTML and JavaScript -->
<div id="DigiCertClickID_ME8yiLvS" data-language="en_US">
	<a href="http://www.digicert.com/ssl-certificate.htm">SSL Certificates</a>
</div>
<script type="text/javascript">
var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_ME8yiLvS", "3", "s", "black", "ME8yiLvS"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>
<!-- End DigiCert site seal HTML and JavaScript -->
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
