<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Company</h3>
                    <ul>
                        <li> <a href="/faq"> FAQ </a> </li>
                        <li> <a href="/about"> About </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Service</h3>
                    <ul>
                        <li> <a href="/support"> Contact </a> </li>
                        <li> <a href="/return"> Return Policy</a> </li>
                        <li> <a href="/shipping"> Shipping </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Policies</h3>
                    <ul>
                        <li> <a href="/Tos"> Terms of Service </a> </li>
                        <li> <a href="/privacy">Privacy Policy </a> </li>
                        <li> <a href="/notice"> Security Notice</a> </li>
                    </ul>
                </div>

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Sign up for our newsletter</h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <a href="/signup">
                                <button class="btn  bg-gray" type="button"> Sign Up <i class="fa fa-long-arrow-right"> </i> </button></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/19thHoleSwag"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/19thHoleSwag#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-instagram">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © 19th Hole Swag, LLC. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>