<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
  	

    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>

     <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <li>MEN</li>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/t/mulco-watches">Mulco Watches</a></li>
      <li><a href="/t/antas">Antas Apparel</a></li>
      <li><a href="/t/peak-vision">Peak Vision Sunglasses</a></li>
      <li><a href="/t/rose-and-fire">Rose and Fire</a></li>
      <li><a href="/t/heritage-cross">Heritage Cross</a></li>
      <li><a href="/nex">Nex Belts</a></li>
    </ul>
  </div>

   <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      WOMEN
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      
    </ul>
  </div>
</div>

</nav>
