<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
  	

    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <a href="/t/mulco-watches">|  Mulco Watches   |</a>
    <a href="/t/patrick-gibbons-handmade">|  Patrick Gibbons  |</a>
    <a href="/t/leisure-society">|  Leisure Society  |</a>
    <a href="/t/tattoo-golf">|  Tattoo Golf  |</a>
    <a href="/t/haute-shot">|  Haute Shot  |</a>
    <a href="/t/anatomie-style">|  Anatomie Style  |</a>
  </ul>
</nav>
