<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
  	

  <a href="/" class="button2">
    <span>Home</span>
  </a>

     <div class="button2" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
      <span>MEN</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/t/mulco-watches">Mulco Watches</a></li>
      <li><a href="/t/linksoul">LinkSoul</a></li>
      <li><a href="/t/heritage-cross">Heritage Cross</a></li>
      <li><a href="/nex">Nex Belts</a></li>
    </ul>
  </div>

  
</div>

</nav>
