<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
  	

  <a href="/" class="button2">
    <span>Home</span>
  </a>

     <div class="btn-group" >
      <div class="button2" role="group">
    <button type="button"  data-toggle="dropdown" aria-expanded="false" >
      <span>MEN</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/t/betenly-trousers">Betenly Shorts</a></li>
      <li><a href="/t/betenly">Betenly Belts</a></li>
      <li><a href="/t/brand-59">Brand 59 socks</a></li>
      <li><a href="/t/mens-chase54">Chase 54</a></li>
      <li><a href="/t/mettle-golf">Mettle Golf</a></li>
      <li><a href="/t/canoos">Canoos</a></li>
    </ul>
  </div>
</div>
  

       <div class="btn-group" >
      <div class="button2" role="group">
    <button type="button"  data-toggle="dropdown" aria-expanded="false" >
      <span>Ladies</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/t/roaming-dhabi-designs">Roaming Dhabi Designs</a></li>
      <li><a href="/t/ladies-chase-54">Chase 54</a></li>
    </ul>
  </div>
</div>
</div>

</nav>
