<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
  	

  <a href="/" class="button2">
    <span>Home</span>
  </a>

     <div class="btn-group" >
      <div class="button2" role="group">
    <button type="button"  data-toggle="dropdown" aria-expanded="false" >
      <span>MEN</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/t/johnnie-o">Johnnie O</a></li>
      <li><a href="/t/vzip">Von Zipper</a></li>
      <li><a href="/t/mettle-golf">Mettle Golf</a></li>
      <li><a href="/t/18-greens">18 Greens</a></li>
    </ul>
  </div>
</div>
  
</div>

</nav>
