<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <figure id="logo" data-hook><%= logo %></figure>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players Club<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/t/2nd-guy-golf">2nd Guy Golf</a></li>
      <li><a href="/t/true-linkswear">True Linkswear</a></li>
      <li><a href="/t/trousers">18 Greens</a></li>     

          </ul>
        </li>
        <% if spree_current_user %>
        <li class="active"><a href="/account">My Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/cart">Cart <span class="sr-only">(current)</span></a></li>
            <% else %>
            <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/signup">Create Account <span class="sr-only">(current)</span></a></li>

 <% end %>   
   
      </ul>
      
    </div>
  </div>
</nav>