<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
     <a> <%= link_to Spree.t(:sign_up), spree.signup_path %> </a>
     <ul>Membership is FREE!</ul>
    </li>
  </ul>
</nav>
