<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
     <a> <%= link_to Spree.t(:join_us), spree.signup_path %> </a>
     <ul>Membership is FREE!</ul>
    </li>
    <div id="main">
  <h1 id="heading">"Bullets Don't Break!"- SUL</h1>
</div>
  </ul>
</nav>
