<figure>
   <a href="/t/johnnie-o" >
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/23ac25ea-93b4-4a9b-9cc5-14d405fc4768.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Johnnie-O up to 65% off</figcaption>
</figure></a>
<figure>
   <a href="/t/vzip" >
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/fa40f04b-5b1e-4f84-b3c5-a42283d491a6.jpg" style="max-width:100%;height:auto;"class="small" alt="Some lorempixel image"/>
  <figcaption>Von Zipper Shades up to 40% off!</figcaption>
</figure></a>
<figure>
   <a href="/t/whet-design" >
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/0695ed81-9ec5-4994-b467-315bd30d9b76.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Whet Design shirts up to 40% off!</figcaption>
</figure></a>
<figure>
   <a href="/t/18th-and-main" >
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/4081a312-bbf6-400f-a31e-ab32ecfce111.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>18th and Main shirts for sale</figcaption>
</figure></a>

<figure>
  <a href="/t/johnnie-o" class="button">
  <img src="/assets/johnnie.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Ends April 1st</figcaption></a>
</figure>

<figure>
  <a href="/t/vzip" class="button">
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/26129412-8428-4477-8283-0b6c3e91abaa.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Von Zipper Ends April 4th</figcaption></a>
</figure>
<div id="myCarousel" class="carousel slide" data-ride="carousel">


 
   <!-- Carousel indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" 
         class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item active">
         <a href="/t/whet-design" class="button">
         <img src="/assets/whet2.jpg" class="medium" alt="Second slide" style="max-width:100%;height:auto;"><figcaption>Ends March 29th</figcaption>
      </a>
      </a>
      </div>
   </div>

  
</div> 
<script>

<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });
      // Cycles the carousel to a particular frame 
      $(".slide-one").click(function(){
         $("#myCarousel").carousel(0);
      });
      $(".slide-two").click(function(){
         $("#myCarousel").carousel(1);
      });
      $(".slide-three").click(function(){
         $("#myCarousel").carousel(2);
      });
   });
</script>
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      </div>




<h3> 19th Hole Swag is a place to discover and purchase the latest golf fashion and accessories at close to wholesale prices. Every product is shipped directly from the brands to you! Sign up for free and check out these impressive deals!</h3></div>

   <a href="/t/18th-and-main" class="button">
         <img src="/assets/18thandmain.jpg" class="medium" alt="Second slide" style="max-width:100%;height:auto;"><figcaption>Ends March 29th!</figcaption>
      </div></div>

      <a href="#" class="button" >
    <span>Coming Soon</span>
</a>

<figure>
  <img src="/assets/vzgirl.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Ladies Week April 6th!</figcaption>
</figure>
<figure>
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/c966e979-5343-4545-a0b4-3ba602752a3f.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Boast USA</figcaption>
</figure>
<figure>
  <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/05d9007e-7b91-47e9-af3d-fbf6efb8c268.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Betenly</figcaption>
</figure>
      


<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div class="social-links">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://19thholeswag.com" data-text="Looking like a pro doesn't mean you gotta pay full price! Free to sign up! Free to browse!" data-size="large" >Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

