<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">

           
          </ol>
            <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>72 Hours Only</h1>        
            <h3>Golf fashion flash sales</h3>
        </hgroup>
        <a href="/t/2nd-guy-golf"> 
        <button class="btn btn-hero btn-lg" role="button">Shop Now</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Players Club</h1>        
            <h3>Only members get access to deals, free to sign up.</h3>
        </hgroup>
        <a href="/t/true-linkswear">       
        <button class="btn btn-hero btn-lg" role="button">The Pro Shop</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Swag Shop</h1>        
            <h3>Introducing the hottest brands in golf.</h3>
        </hgroup>
        <a href="/t/trousers">
        <button class="btn btn-hero btn-lg" role="button">Swag Team</button></a>
      </div>
    </div>
  </div> 
</div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 




       <div class="container">
   <img src="assets/current.png" class="center-block img-responsive" >
    <div class="row form-group product-chooser">
    
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/2nd-guy-golf">
          <img src="assets/2ndguy.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
            <a><span class="title">2nd Guy Golf</span></a>
            <span class="description"><p><b>Sale Ends May 14th. </b>The 2GG brand expects to play a big role in the golfing community, and the return that they then yield can play a significant role in benefiting the charities they support. Profits are donated to charity!</p></span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/true-linkswear">
          <img src="assets/true.png" class="img col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 45% off</h4>
            <a><span class="title">True Linkswear</span></a>
            <span class="description"><p><b>Sale Ends May 14th. </b>TRUE has become the industry’s standard-bearer, offering the most comfortable and most versatile shoe on the market. The new styles and design tweaks remain true to that commitment, while also providing a fresh, trendy look for the new season. </p></span>
            <input type="radio" name="product" value="desktop">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/trousers">
          <img src="assets/greeny2.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
           <a> <span class="title">18 Greens</span>
          </a>
            <span class="description"><p><b>Sale Ends May 14th. </b>"These shorts and pants rock!! Comfortable and light weight... mesh lined pockets that zip and just the right amount of stretch when you bend down to putt." - Ryan Merriman</p></span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
    </div>
</div>


<div class="container">
<img src="assets/title.png" class="center-block img-responsive">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/vzipper.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/patrick.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/johnniepull.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pv.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/leisure.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pg5.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/whetred.jpg" /></div>
                <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/canoosorange.png?width=300&height=200&scale=upscalecanvas" /></div>
    </div>
</div>

