<figure>
  <a href="/t/betenly" class="button">
   <img src="/assets/betenlybelt.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Belts from Betenly up to 65% off</figcaption></a>
</figure>

<figure>
  <a href="/t/betenly-trousers" class="button">
   <img src="/assets/betenly.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Betenly Shorts</figcaption></a>
</figure>

<figure>
  <a href="/t/mens-chase54" class="button">
   <img src="/assets/chasemens.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Mens Chase 54</figcaption></a>
</figure>

<figure>
  <a href="/t/ladies-chase-54" class="button">
   <img src="/assets/chaseladies.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Ladies Chase 54</figcaption></a>
</figure>

<figure>
  <a href="/t/canoos" class="button">
   <img src="/assets/canoos.png" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Canoos boat golf shoes!</figcaption></a>
</figure>


<figure>
  <a href="/t/mettle-golf" class="button">
   <img src="/assets/mettle.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Mettle Golf Gloves</figcaption></a>
</figure>




<h3> 19th Hole Swag is a place to discover and purchase the latest golf fashion and accessories at close to wholesale prices. Every product is shipped directly from the brands to you! Sign up for free and check out these impressive deals!</h3></div>


      <a href="#" class="button" >
    <span>Coming Soon</span>
</a>

<figure>
  <img src="/assets/vzgirl.jpg" style="max-width:100%;height:auto;" class="small" alt="Some lorempixel image"/>
  <figcaption>Ladies Week new brands everyday!</figcaption>
</figure>






<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div class="social-links">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://19thholeswag.com" data-text="Looking like a pro doesn't mean you gotta pay full price! Free to sign up! Free to browse!" data-size="large" >Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

