<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">

           
          </ol>
            <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>72 Hours Only</h1>        
            <h3>Golf fashion flash sales</h3>
        </hgroup>
        <a href="/t/2nd-guy-golf"> 
        <button class="btn btn-hero btn-lg" role="button">Shop Now</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Players Club</h1>        
            <h3>Only members get access to deals, free to sign up.</h3>
        </hgroup>
        <a href="/t/true-linkswear">       
        <button class="btn btn-hero btn-lg" role="button">The Pro Shop</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Swag Shop</h1>        
            <h3>Introducing the hottest brands in golf.</h3>
        </hgroup>
        <a href="/t/trousers">
        <button class="btn btn-hero btn-lg" role="button">Swag Team</button></a>
      </div>
    </div>
  </div> 
</div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 




       <div class="container">
   <img src="assets/current.png" class="center-block img-responsive" >
    <div class="row form-group product-chooser">
    
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/ogio-shirts">
          <img src="assets/ogioshirt.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
            <a><span class="title">Ogio Shirts</span></a>
            <span class="description"><p><b>Sale has started. </b>Inspired by some of the world's leading fashion and performance trends as well as Ogio's unique culture, they present the 2015 collection.</p></span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/ogio">
          <img src="assets/ogioshoe.jpg" class="img col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
            <a><span class="title">Ogio Shoes and Shorts</span></a>
            <span class="description"><p><b>Sale has started. </b>Ultimate fit and comfort.</p></span>
            <input type="radio" name="product" value="desktop">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/ogio-stand-bags">
          <img src="assets/ogiostand.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
           <a> <span class="title">Ogio Stand Bags</span>
          </a>
            <span class="description"><p><b>Sale has started. </b>"This is by far the bast bag I have ever used, it's just so easy and light!" - Review by Tyson on Ogio site. </p></span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
    </div>
</div>


     <div class="container">
    <div class="row form-group product-chooser">
    
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/ogio-cart-bags">
          <img src="assets/ogiocart.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
            <a><span class="title">Ogio Cart Bags</span></a>
            <span class="description"><p><b>Sale has started. </b>"I have now had this bag for approx 18 months and it's far and away the best golf bag I've ever had." - review by Peter on Ogio's site.</p></span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/ogio-travel-bags">
          <img src="assets/mommoth.jpg" class="img col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
            <a><span class="title">Ogio Travel Bags and Accessories</span></a>
            <span class="description"><p><b>Sale has started. </b>With travel bags designed for an effortless and organized trip, its easy to see why.</p></span>
            <input type="radio" name="product" value="desktop">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/whet-design">
          <img src="assets/whetred.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
           <a> <span class="title">Whet Design</span>
          </a>
            <span class="description"><p><b>Sale has started. </b>Tailored, stylish, and utterly irresistible, our sportswear is designed to transition perfectly from the golf course to any venue. </p></span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
    </div>
</div>


<div class="container">
<img src="assets/title.png" class="center-block img-responsive">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/vzipper.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/patrick.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/johnniepull.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pv.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/leisure.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pg5.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/whetred.jpg" /></div>
                <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/canoosorange.png?width=300&height=200&scale=upscalecanvas" /></div>
    </div>
</div>

