<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
   <div class="item active">
     <a href="/t/vzip"> <img src="assets/banneridea2.png" alt="...">
      <div class="carousel-caption">
       
      </div>
    </div></a>
    <div class="item">
      <a href="/t/cut-throat"><img src="assets/attention6.png" alt="...">
      <div class="carousel-caption">
       
      </div>
    </div></a>
 
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



      <div class="container">
   <img src="assets/current.png" class="center-block img-responsive" >
    <div class="row form-group product-chooser">
    


     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
        <a href="/t/matte-grey">
          <img src="assets/matte.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 40% off</h4>
            <a href="/t/matte-grey"><span class="title">Matte Grey</span></a>
            <span class="description"><p><b>Sale has started. </b>BRIDGING THE GAP BETWEEN MAINSTREAM FASHION AND MODERN ATHLETICWEAR </p></span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>

      
     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
        <a href="/t/ogio-cart-bags">
          <img src="assets/machu.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 60% off</h4>
            <a href="/t/ogio-cart-bags"><span class="title">Ogio Cart Bags</span></a>
            <span class="description"><p><b>Sale has started. </b>Ogio is the world leader in golf bags. Get some straight from Ogio at these great prices now. For a limited time only. </p></span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/54-chase">
          <img src="assets/chase.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 70% off</h4>
           <a href="/t/54-chase"> <span class="title">Chase 54</span>
          </a>
            <span class="description"><p><b>Sale has started. </b>For the pursuit of perfection. </p></span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
        
      
      
      

    </div>
</div>


 <div class="container">
    <div class="row form-group product-chooser">
    


     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
        <a href="/t/ogio-stand-bags">
          <img src="assets/ogiostand.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 60% off</h4>
            <a href="/t/ogio-stand-bags"><span class="title">Ogio Stand Bags</span></a>
            <span class="description"><p><b>Sale has started. </b>Ogio is the world leader in golf bags. Get some straight from Ogio at these great prices now. For a limited time only. </p></span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>

      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/heritage-cross">
          <img src="assets/heritage.jpg" class="img col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 60% off</h4>
            <a href="/t/heritage-cross"><span class="title">Heritage Cross</span></a>
            <span class="description"><p><b>Sale has started. </b>Some of the best prices on great quality around. </p></span>
            <input type="radio" name="product" value="desktop">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/cut-throat">
          <img src="assets/cut.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile"></a>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                  <h4>At up to 60% off</h4>
           <a href="/t/cut-throat"> <span class="title">Cut Throat</span>
          </a>
            <span class="description"><p><b>Sale has started. </b>Unique style that is laid back and fun. </p></span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
        
      
      
      

    </div>
</div>



<div class="container">
<img src="assets/title.png" class="center-block img-responsive">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/vzipper.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/patrick.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/johnniepull.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pv.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/leisure.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pg5.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/whetred.jpg" /></div>
                <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/canoosorange.png?width=300&height=200&scale=upscalecanvas" /></div>
    </div>
</div>

