<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">

            <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
              <div class="thumbnail">
                <img class="img-responsive" src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/4a8e4943-6222-4943-9f6f-7935be6b399c.jpg">
              </div>
            </li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
            <div class="thumbnail">
                <img class="img-responsive" src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/9162de40-3182-48bc-90bc-a7a41c98a6c4.jpg">
              </div>
            </li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
            <div class="thumbnail">
                <img class="img-responsive" src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/7bc923c0-c0ba-4e96-a34c-81a6b3b25a1e.jpg">
              </div>
            </li>
          </ol>
            <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>72 Hours Only</h1>        
            <h3>Golf fashion flash sales</h3>
        </hgroup>
        <a href="/t/devereux"> 
        <button class="btn btn-hero btn-lg" role="button">Shop Now</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Players Club</h1>        
            <h3>Only members get access to deals, free to sign up.</h3>
        </hgroup>
        <a href="/t/switch-socks">       
        <button class="btn btn-hero btn-lg" role="button">The Pro Shop</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Swag Shop</h1>        
            <h3>Introducing the hottest brands in golf.</h3>
        </hgroup>
        <a href="/t/whet-design">
        <button class="btn btn-hero btn-lg" role="button">Swag Team</button></a>
      </div>
    </div>
  </div> 
</div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 




       <div class="container">
    <h2>Current Swag Sales</h2>
    <div class="row form-group product-chooser">
    
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/devereux">
          <img src="assets/dvrx.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title">Devereux</span></a>
            <span class="description"><h3>At up to 60% off</h3>Flash sale ends April 25th. Simple-yet-sophisticated pieces in contemporary colors and Superb attention to detail – are as easy to pair as they are to wear. Clean modern styles are designed to fit properly and inspire performance, both on and off the course.</span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/switch-belts">
          <img src="assets/switch.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title">Switch Belts</span></a>
            <span class="description"><h3>At up to 40% off</h3>If variety and eco-friendly are your thing, consider one of Switch Belt's belt and buckle colors. Made from a bio-degradable thermoplastic resin, the belts can even be cleaned in your dishwasher. </span>
            <input type="radio" name="product" value="desktop">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
          <a href="/t/whet-design">
          <img src="assets/whetblue.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title">Whet Design</span>
          </a>
            <span class="description"><h3>At up to 40% off</h3>Sportswear that combines fashion, fit, and performance, while keeping style at the forefront. Energy through each thread of fabric, vibrancy of color, and a feel that only Miami can deliver.</span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
    </div>
</div>


<div class="container">
      <h2>Recent Swag Sales</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/vzipper.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/patrick.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/johnniepull.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/canoosorange.png?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pv.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/leisure.jpg?width=300&height=200&scale=upscalecanvas" /></div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/pg5.jpeg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="assets/whetred.jpg" /></div>
    </div>
</div>